
/*****************                     *********************/
/***************** common 공통 영역      *********************/
/***************** (body, nav, footer) *********************/


* {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}


.title {
	font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #0500FF;
}
.subtitle {
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #111;
    margin-top: 10px;
}
.bodytext {
	font-size: 16px;
}
.footer-text {
	font-size: 13px;
}


img {
    vertical-align: middle;
}

header {
    position: relative;
    padding: 0 50px;
    margin-top: 60px;
    z-index: 4;
}


.logo {
    display: table;
}
.logo img {
    height: 65px;
}

.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #0500FF;
    z-index: 5;
    box-sizing: border-box;
    padding-top: 120px;
    padding-left: 240px;
}
.menu .menu-item {
    position: relative;
    margin-top: 40px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 50px;
    top: -10px;
    opacity: 0;
    transition: all 0.5s;
}

.menu.shown .menu-item {
    top: 0;
    opacity: 1;
}

.menu .menu-item a {
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.5;
}
.menu .menu-item.active a {
    opacity: 1;
}

.menu-btn {
    position: absolute;
    display: table;
    width: 46px;
    height: 46px;
    top: 66px;
    right: 110px;
    padding: 3px;
    cursor: pointer;
    z-index: 6;
}
.menu-btn-holder {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    top: -4px;
    left: 4px;
}
.menu-btn .shape {
    position: relative;
    width: 40px;
    height: 4px;
    background-color: #fff;
    transition: all 0.5s;
}
.menu-btn .shape:nth-child(2) {
    top: 10px;
}
.menu-btn.close .shape:nth-child(1) {
    transform: rotate(45deg);
}
.menu-btn.close .shape:nth-child(2) {
    transform: rotate(-45deg);
    top: -4px;
}
.menu-btn.close .shape {
    background-color: #fff !important;
}


footer {
	position: relative;
    display: table;
    width: 100%;
    padding: 20px 20px;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: #F0F8FF;
}

footer .footer-1, footer .footer-2, 
footer .footer-left, footer .footer-right {
	position: relative;
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: top;
}

footer .footer-2, footer .footer-right {
	text-align: right;
}

footer .footer-center {
	position: relative;
	bottom: 0px;
	right: 0px;
    display: table-cell;
    width: 80%;
    height: 100%;
    vertical-align: top;
}

footer .logo img {
	height: 45px;
}

footer a.logo {
    display: inline-block;
}

footer .footer-text {
	font-size: 13px;
}


.footer-item a {
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #47525d;
    text-decoration: none;
	
}


/*fouc*/
.ui-mobile-rendering > * { visibility: hidden; }

/*****************                   *********************/
/***************** 2. index.html 영역 *********************/
/*****************                   *********************/

.page {
	word-break: keep-all; /* 한글 단어로 묶어서 줄바꿈 처리 */
	margin-top: 10px;
	
}

.contents-big {
	min-height: 500px;
	float: left;
	width: 100%;
	background-color: green;
	margin-top: 20px;
	padding: 0px 50px;
	display: block;
	overflow-x: hidden;
}

.contents-1 {
	width: 100%;
	margin: 0 px;  /* top 160 */
	margin-top: 15px;
	padding: 10px; /* 0 110px */
	overflow-x: hidden;
	display: block;
	word-break: keep-all;
	/* background-color: orange; */
	min-height: 150px;
}

.place {
	display: inline-block;
	width: 32%;
	vertical-align: top;
	
	
}

.place.card-body {
	padding: 0.2rem 0.2rem;
}

.place .image-holder {
	height: 200px; 
	background-position: center center;
    background-size: cover;
	
}

.place .place-text {
	
	height: 100px;
	
}

.product .card-img-top {
	height: 15rem;
	object-fit:cover;
}

.symbol-list {
	width: 100%;
}
.symbol-item {
	float: left;
	width: 150px;
	height: 100px;
	margin: 0px 10px;
	padding: 0px 10px;
	background-position: center center;
    background-size: contain; /* cover auto */
    background-repeat: no-repeat;
}

#customers .smaller {
	background-size: 50%
}

/*****************                     *********************/
/***************** 3. product.html 영역 *********************/
/*****************                     *********************/

 .photo-gallery {
    	margin: 0px;
    	display: grid;
    	width: 100%;
    	grid-template-columns: 2fr 1fr 1fr 1fr;  /* px repeat(3, 1fr) or repeat(3, minmax(100px, auto); auto,    */
    	grid-template-rows: 150px;
    	row-gap: 0px;
    	column-gap: 0px;
    	min-height: 300px;
    }
    
    .photo-item {
    	background-color: green;
    	background-position: center center;
    	background-size: cover;
    	display: table-cell;
    }
    
    #photo1 {
    	grid-row: 1/3;  /* start /end */
    	grid-column: 1/2;
    }
    
 
#pspec table {
	border: 1px solid #444444;
}


/******************************************************************************/


#head-img {
	grid-area: head-img;
    display: table-cell;
    background-image: url("../../img/naim/uj/1-digital/1-digital.jpg");
    
}

#head-content {
	grid-area: head-content;
	background-color: orange;
}



.content-left {
	width: 45%;
    max-width: 700px;
    min-height: 600px;
    background-color: green;
    float:left;	
}

.content-right {
	width: 55%;
    max-width: 900px;	
    background-color: orange;
    float:left;
}






@media (max-width: 576px){	
	
}

@media screen and (max-width: 768px) {
    
}

@media screen and (min-width: 1400px) {
    
}

